body {
    background-color: #ffffff;
    color: #000000;
}

h1 {
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.times {
    font-family: 'Times New Roman', Times, serif
}

.fantasy {
    font-family: fantasy;
}

#card {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 500px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
}

.hidden {
    visibility: hidden;
  }
